* {
    font-family: 'Roboto', sans-serif;
}

.playbutton {
    display: inline-block;
    padding: 10px;
    border-radius: 12px;
    background-color: white;
    color: black;
    text-align: center;
}

body {
    background-color: black;
}

.bestpicture {
    display: block;
    text-align: center;
}
