* {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}

body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("img_girl.jpg");
  
    height: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.playbutton {
    display: inline-block;
    padding: 10px;
    border-radius: 12px;
    background-color: white;
    color: black;
}

.tutorial {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid black;
}

.sometext {
    display: inline-block;
    width: 350px;
    padding: 20px;
    background-color: black;
    border-radius: 12px;
}



